<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M.I.S.S_Vendor_Order_Management_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="M.I.S.S_Vendor_Order_Management_System.My.MySettings.group16ConnectionString"
            connectionString="Data Source=146.230.177.46\ist3;Initial Catalog=group16;User ID=group16;Password=78fgg"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <M.I.S.S_Vendor_Order_Management_System.My.MySettings>
            <setting name="MyVAT" serializeAs="String">
                <value>0</value>
            </setting>
        </M.I.S.S_Vendor_Order_Management_System.My.MySettings>
    </userSettings>
</configuration>